<style>
    h1 {
        text-align: center;
    }
    
    button {
        align-items: center;
        background-color: #5cb85c;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button p {
        margin: 0;
    }
    
    button:hover {
        background-color: #4cae4c;
    }
</style>

<h1>Welcome To Gorilla Meal Tracker</h1>
<button><p>Get Started</p></button>