<div class="container">
    <h2>Update Meal</h2>
    <form action="/update/<%= meal._id%>" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value=<%-meal.name %>><br/>

        <label for="mealtype">Meal Type:</label>

    </form>
</div>