* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #222;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title-Logo {
    color: #5cb85c;
    margin: 0;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #5cb85c;
}

main {
    padding: 20px;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    background-color: #444;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #5cb85c;
}

input,
select,
textarea,
button {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

select,
textarea {
    width: 100%;
}

button {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}